.place__lower-flex-container {
  max-width: 100%;
  display: flex;
  gap: 0 40px;
  flex-wrap: wrap;
  align-items: flex-start;
  flex: 1;
}

@media all and (max-width: 1279px) {
  .place__lower-flex-container {
    column-gap: 32px;
  }
}

@media all and (max-width: 1023px) {
  .place__lower-flex-container {
    column-gap: 28px;
  }
}

@media all and (max-width: 767px) {
  .place__lower-flex-container {
    flex-direction: column;
<<<<<<< HEAD
    row-gap: 22px;
  }
}
=======
    row-gap: 12px;
  }
}
>>>>>>> 0b5ec0f3670cba37fcb6f4c1b9c5a88218c36cf2
