.places {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  padding-top: 92px;
  padding-bottom: 88.5px;
  align-items: center;
  gap: 76.5px;
  padding-left: 48px;
  padding-right: 48px;
}

@media all and (max-width: 1023px) {
  .places {
    padding-top: 92px;
    padding-bottom: 88px;
    padding-left: 24px;
    padding-right: 24px;
    gap: 71px;
  }
}

@media all and (max-width: 767px) {
  .places {
    gap: 52.5px;
    padding-top: 61px;
    padding-bottom: 66px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media all and (max-width: 425px) {
  .places {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
