.place__url-heading {
  margin: 0;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
  color: #AAAAAA;
}

@media all and (max-width: 1023px) {
  .place__url-heading {
    line-height: 12px;
  } 
}

@media all and (max-width: 767px) {
  .place__url-heading {
    line-height: 12px; 
  } 
}