.place {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px 0;
}

@media all and (max-width: 1023px) {
  .place {
    row-gap: 46px;
  }
}

@media all and (max-width: 767px) {
  .place {
<<<<<<< HEAD
    row-gap: 22px;
  }
}
=======
    row-gap: 32px;
  }
}
>>>>>>> 0b5ec0f3670cba37fcb6f4c1b9c5a88218c36cf2
