.place__website {
  display: flex;
  flex-direction: column;
  gap: 5.5px 0;
  align-items: flex-start;
  justify-content: flex-end;
  flex: 0 1 456px;
}

@media all and (max-width: 1279px) {
  .place__website {
    flex-grow: 1;
  }
}

@media all and (max-width: 1023px) {
  .place__website {
    flex-grow: 1;
    flex-basis: 352px;
    row-gap: 14.5px;
  }
}

@media all and (max-width: 767px) {
  .place__website {
    flex-grow: 1;
    flex-basis: 100%;
  }
}

@media all and (max-width: 425px) {
  .place__website {
    padding-left: 16px;
    padding-right: 16px;
  }
}